<!DOCtype HTML>
<h3> Please select your meats:</h3>

<form method="post" action='/selection'>
  <input  type="checkbox"  name = "toppings[]" value = "Ham"><img src = "./img/ham.jpg">
  <input  type="checkbox"  name = "toppings[]" value = "Anchovies"><img src = "./img/anchovies.jpg">
  <input  type="checkbox"  name = "toppings[]" value = "Salami"><img src = "./img/salami.jpg">
  <input  type="checkbox"  name = "toppings[]" value = "Pepperoni"><img src = "./img/pepperoni.jpg">

<h3> Please select your Veggies:</h3>

  <input  type="checkbox"  name="toppings[]" value = "Banana_peppers"><img src = "./img/peppers.jpg">
  <input  type="checkbox"  name="toppings[]" value = "Mushrooms"><img src = "./img/mushroom1.jpg">
  <input  type="checkbox"  name="toppings[]" value = "Onion"><img src = "./img/red-onions.jpg">
  <input  type="checkbox"  name="toppings[]" value = "Olives"><img src = "./img/black_olives.png">

<h3> Please select your Cheese:</h3>

  <input  type="checkbox"  name="toppings[]" value = "Mozzarella"><img src = "./img/mozzerella.jpg">


  <input  type="checkbox"  name="toppings[]" value = "Provolone"><img src = "./img/provolone.jpg">
  <input  type="checkbox"  name="toppings[]" value = "Parmesan"><img src = "./img/parmesan.jpg">
 <h3> Please select your Sauce:</h3> 
   <input  type="checkbox"  name="toppings[]" value = "Marinara"><img src = "./img/marinara.jpg">
  <input  type="checkbox"  name="toppings[]" value = "Zesty"><img src = "./img/zesty.jpg">
  <input  type="checkbox"  name="toppings[]" value = "Alfredo"><img src = "./img/alfredo.jpg">


<center><input type='submit'></center>
</form>

</center>

