<!DOCtype HTML>
enable "sessions"

<center><h2>Welcome To Steph's Pizza Pie</h2>
<p> Are you ready to create your custom pizza?</p>
</center>

<h3> Please select your meats:</h3>

<form method="post" action='/selection'>
  <input  type="checkbox"  name = "meats[]" value = "Ham"><img src = "./img/ham.jpg">
  <input  type="checkbox"  name = "meats[]" value = "Anchovies"><img src = "./img/anchovies.jpg">
  <input  type="checkbox"  name = "meats[]" value = "Salami"><img src = "./img/salami.jpg">
  <input  type="checkbox"  name = "meats[]" value = "Pepperoni"><img src = "./img/pepperoni.jpg">

<h3> Please select your Veggies:</h3>

  <input  type="checkbox"  name="veggies[]" value = "Banana_peppers"><img src = "./img/peppers.jpg">
  <input  type="checkbox"  name="veggies[]" value = "Mushrooms"><img src = "./img/mushroom1.jpg">
  <input  type="checkbox"  name="veggies[]" value = "Onion"><img src = "./img/red-onions.jpg">
  <input  type="checkbox"  name="veggies[]" value = "Olives"><img src = "./img/black_olives.png">

<h3> Please select your Cheese:</h3>

  <input  type="checkbox"  name="cheese[]" value = "Mozzarella"><img src = "./img/mozzerella.jpg">
  <input  type="checkbox"  name="cheese[]" value = "Provolone"><img src = "./img/provolone.jpg">
  <input  type="checkbox"  name="cheese[]" value = "Parmesan"><img src = "./img/parmesan.jpg">
 <h3> Please select your Sauce:</h3> 

  <input  type="checkbox"  name="sauce[]" value = "Marinara"><img src = "./img/marinara.jpg">
  <input  type="checkbox"  name="sauce[]" value = "Zesty"><img src = "./img/zesty.jpg">
  <input  type="checkbox"  name="sauce[]" value = "Alfredo"><img src = "./img/alfredo.jpg">


<center><input type='submit'></center>
</form>

</center>

