<!DOCtype html>

<html>
<center>
<header>
	<h1>Thank you for confirming your order.</h1>
</header>

<body>
<form method= "post" action = "/results">

	
	
<p>Your order of a sandwich with <%=mv%>, <%=vv%>, <%=cv%>, <%=sv%> will be ready in just a few.</p>

	
	
</form>


</center>
</body>
</html>