<!DOCtype html>

<html>
<center>
<header>
	<h1>Thank you for confirming your order.</h1>
</header>

<body>
<form method= "post" action = "/results">

	
	
Your order of a pizza with
these toppings:
<p><%confirmed.each do |value|%>
<%value = value.shift%>
<%=value%><img src="./img/<%=value%>.jpg">

<%end%></p>


 will be ready in just a few.

	
	
</form>


</center>
</body>
</html>