<!DOCtype html>

<html>
<center>
<header>
	<h1>Thank you for confirming your order.</h1>
</header>

<body>
<form method= "post" action = "/results">

	
	
<p>Your order of a pizza with
<%sv.each do |sauce|%>
<%=sauce%>
<%end%>
<%mv.each do |meat|%>
<%=meat%>
<%end%>
<%cv.each do |cheese|%>
<%=cheese%>
<%end%>
<%vv.each do |vegg|%>
<%=vegg%>
<%end%>
 will be ready in just a few.</p>

	
	
</form>


</center>
</body>
</html>