<!DOCtype HTML>

<center>
 <header>
    <h1> Here is your order for confirmation </h1>
    <h3> Pizza with these toppings:</h3>
    
 <script type="text/javascript">

</script>
<body>

<form method = "post" action = "/selection">
<% meats.each do |mv| %>

<p> <%=mv%> <input type="radio"  value= "1" id= yes name= "meats[]" multiple: true/>yes
<input  type="radio"  value= "0" id= "no" name= "meats[]" multiple: false />no</p>
<%end%>
<% cheese.each do |cv| %>

<p><%=cv%> <input  type="radio"  value="1" id= "yes " name= "cheese[]" multiple: true />yes
<input  type="radio"  value= "0" id="no" name= "cheese[]" multiple:false />no</p>
<%end%>
<% veggies.each do |vv| %>

<p><%=vv%><input  type="radio"  value= "1" id= "yes" name= "veggies[]" multiple: true/>yes 
<input  type="radio"  value= "0" id= "no" name= "veggies[]" multiple: false/ >no</p>
<%end%>

<% sauce.each do |sv|%>
<p><%=sv%><input  type="radio"  value= "1" id= "yes" name= "sauce[]" multiple: true/>yes 

<input  type="radio"  value= "0" id= "no" name= "sauce[]" multiple: false/ ></p>
<%end%>
<input type="submit" name="confirm" value="confirm"/>
</form>
</center>
</body>
</html>

